body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Cambia al color de fondo deseado */
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a; /* Azul oscuro o verde oscuro */
  color: #ffffff; /* Blanco o plateado */
  font-size: 24px; /* Tamaño de fuente adecuado */
  padding: 10px; /* Espaciado interior */
}

.timer .number {
  font-size: 14px; /* Tamaño de fuente para los números de días, horas, minutos, segundos */
}

.timer .number {
  font-weight: bold; /* Para hacer los números más destacados */
}

.timer .number {
  text-transform: uppercase; /* Para hacer los nombres de días, horas, minutos, segundos en mayúsculas */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .timer {
    flex-direction: row; /* Mantener el diseño horizontal en dispositivos móviles */
    font-size: 20px; /* Tamaño de fuente ligeramente más pequeño para dispositivos móviles */
  }
}
