body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3; /* Color de fondo */
}

.temporizador {
    display: flex;
    flex-wrap: wrap; /* Permite que los cuadros se envuelvan en dispositivos pequeños */
    justify-content: center; /* Centra los cuadros */
}

.cuadro {
    width: calc(50% - 20px); /* El 50% del ancho menos el margen */
    height: 120px;
    margin: 10px; /* Espacio entre los cuadros */
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
}

.dia {
    background-color: #FF0000; /* Rojo intenso */
}

.hora {
    background-color: #FFFF00; /* Amarillo brillante */
}

.minuto {
    background-color: #008000; /* Verde esmeralda */
}

.segundo {
    background-color: #0000FF; /* Azul eléctrico */
}

.dia, .minuto, .segundo {
    color: #FFFFFF; /* Blanco */
}

.hora {
    color: #000000; /* Negro */
}

.temporizador span {
    font-size: 48px;
    font-weight: bold;
}

.temporizador div {
    font-size: 18px;
}
