body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3; /* Color de fondo */
}

.temporizador {
    display: flex;
}

.cuadro {
    width: 100px;
    height: 120px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
}

.dia {
    background-color: #FF7F50; /* Color naranja */
}

.hora {
    background-color: #7B68EE; /* Color púrpura */
}

.minuto {
    background-color: #32CD32; /* Color verde */
}

.segundo {
    background-color: #FFD700; /* Color dorado */
}

.temporizador span {
    font-size: 48px;
    font-weight: bold;
}

.temporizador div {
    font-size: 18px;
}
